* {
  padding: 0;
  margin: 0;
}

/* FONTS */
.robotoFont {
  font-family: 'Roboto', sans-serif;
}

/* GENERAL UI components */
.setBackground {
  background-image: url("/assets/images/table_bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.imageContainer img{
  height: auto;
  max-width: 100%;
  width: 20%;
}

.inputField {
  width: 30%;
  border: none;
  height: 50px;
  border-radius: 4px;
  text-indent: 10px;
}

.shadowElement {
  box-shadow: 3px 3px 3px #d9d9d9;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* General UI styling for front end */
.container {
  position: relative;
  height: 100vh;
}

/*TODO: 

When set to auto (height) search box is only translucent with black. Must fix

*/
.searchBoxContainer {
  position: relative;
  /* border: 1px solid green; */
  text-align: center;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.6);

}

.smallFont {
  font-size: 20px;
}
.searchBoxContainer input{

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



.imageContainer img{
  height: auto;
  width: 560px;
  top: 80%;
  -ms-transform: translateY(100%);
  transform: translateY(100%);
 
}

.nav {
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
}

.nav ul li a {
  
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
} 

.links {
  color: #000;
  text-decoration: underline;
}
/* Promo banner */
.promo_banner {
  background-color: orange;
  color: #fff;
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 18px;
}


