* {
  padding: 0;
  margin: 0;
}

/* FONTS */
.robotoFont {
  font-family: 'Roboto', sans-serif;
}

/* GENERAL UI */
.setBackground {
  background-image: url("/assets/images/table_bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}