<!-- main document body polkadotMovie--white -->
<div class="setBackground">
  
  
  <!-- main content -->

</div>

  <!-- Fetchign the data rom the API -->
{{!-- <ul>
  <h2>List</h2>
  {{#each model.business as |business|}}
    <li>{{business.name}}</li>
  {{/each}}
</ul> --}}


{{outlet}}