<!-- main document body polkadotMovie--white -->
<script>
  function sendAction() {
    alert("Invoked");
  }
</script>
<div class="setBackground">
  <div class="container">
    <div class="searchBoxContainer">
      <span class="imageContainer">
        <img src="assets/images/mealrant_logo.png" draggable="false">
        </span>
      {{!-- <input class="inputField" type="text"/> --}}
      <Input class="smallFont" placeholder="Craving?" class="inputField" @type="text" @size="5"/>
    </div>
  </div>
</div>

  <!-- Fetchign the data rom the API -->
{{!-- <ul>
  <h2>List</h2>
  {{#each model.business as |business|}}
    <li>{{business.name}}</li>
  {{/each}}
</ul> --}}


{{outlet}}