<!-- main document body polkadotMovie--white -->
<script>
  function sendAction() {
    alert("Invoked");
  }

  

  function removeBanner() {
    var bannerReference = document.getElementById('promotionalBanner');
    bannerReference.style.display = "none";
  }

</script>
<div class="setBackground">
  <!-- pomotional offer -->
 <div id="promotionalBanner"  class="promo_banner robotoFont">
   <!-- popover view cotnroller to display some of the promos that some of the other stores have in the xchema0-->
   <span>Get 15% off on your first order. Order <a class="links" href="#"><u>now!</u></a></span>
    <span style="float: right; padding: 0 20px 0 0;"><button onclick="removeBanner();" style="border: none; background-color: transparent;">close</button></span>
 </div>
  <div class="container">
    <div class="searchBoxContainer">
      <div class="nav">
        <!-- links -->
          <ul>
            <li><a href="">Project</a></li>
           
          </ul>
      </div>
      <span class="imageContainer">
        <img src="assets/images/mealrant_logo.png" draggable="false">
        </span>
      {{!-- <input class="inputField" type="text"/> --}}
      <Input class="smallFont" placeholder="Craving?" class="inputField" @type="text" @size="5"/>
     
    </div>
  </div>
</div>

  <!-- Fetchign the data rom the API -->
{{!-- <ul>
  <h2>List</h2>
  {{#each model.business as |business|}}
    <li>{{business.name}}</li>
  {{/each}}
</ul> --}}


{{outlet}}