<!-- main document body polkadotMovie--white -->
<script>
  function sendAction() {
    alert("Invoked");
  }
</script>
<div class="setBackground">
  <div class="container">
    <div class="searchBoxContainer">
      <span class="imageContainer"><img src="assets/images/mealrant_logo.png"></span>
      {{!-- <input class="inputField" type="text"/> --}}
      <Input class="inputField" @type="text" @value="lol" @size="5" @key-press={{action "sendAction"}}/>
    </div>
  </div>
</div>

  <!-- Fetchign the data rom the API -->
{{!-- <ul>
  <h2>List</h2>
  {{#each model.business as |business|}}
    <li>{{business.name}}</li>
  {{/each}}
</ul> --}}


{{outlet}}