<!-- main document body polkadotMovie--white -->
<script>
  function sendAction() {
    alert("Invoked");
  }
</script>
<div class="setBackground">
  <!-- pomotional offer -->
 <div class="promo_banner robotoFont">
   <span>Get 15% off on your first order. Order <a href=""><u>now!</u></a></span>
 </div>
  <div class="container">
    <div class="searchBoxContainer">
      <div class="nav">
        <!-- links -->
          <ul>
            <li><a href="">Project</a></li>
           
          </ul>
      </div>
      <span class="imageContainer">
        <img src="assets/images/mealrant_logo.png" draggable="false">
        </span>
      {{!-- <input class="inputField" type="text"/> --}}
      <Input class="smallFont" placeholder="Craving?" class="inputField" @type="text" @size="5"/>
     
    </div>
  </div>
</div>

  <!-- Fetchign the data rom the API -->
{{!-- <ul>
  <h2>List</h2>
  {{#each model.business as |business|}}
    <li>{{business.name}}</li>
  {{/each}}
</ul> --}}


{{outlet}}